* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body {
    display:flex;
    justify-content:center;
    align-items:center;
    margin:0;
    min-height:100vh;
    font-family:sans-serif;
}
#container {
    display:flex;
    width:600px;
    padding:10px;
    height:300px;
    flex-direction:column;
}
#container h1 {
    text-align:center;
    padding-bottom:20px;
}
.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 0 auto;
    max-width: 250px;
}
button{
    width:100px;
    padding:15px;
    font-size:14px;
    font-weight:bold;
    border:none;
    border-radius:5px;
    cursor:pointer;
    border:1px solid rgb(177, 177, 177);
    background-color:transparent;
}
#results {
    display:flex;
    justify-content:center;
    padding:20px;
}
#reset {
    display:flex;
    justify-content:center;
    padding:20px;
    display:none;
}
#score {
    display:flex;
    justify-content:space-between;
    margin-top:auto;
}